<?xml version="1.0" encoding="UTF-8" ?>
<suite name="Appium Test Suite">
    <listeners>
        <listener class-name="listeners.TestNGAllureListener"/>
        <listener class-name="listeners.TestNGExtentListener"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="LoginTests"/>
        </classes>
    </test>
</suite>